@model CIS174Assignments.ViewModels.StudentsViewModel

@{
    ViewData["Title"] = "Assignment 6.1";
}

@if (Model.AccessLevel < 2)
{
    <p>You do not have a sufficient access level to view this data.</p>
}
else if (Model.AccessLevel >= 2 && Model.AccessLevel <= 8)
{
    <partial name="_Assignment61FirstLastNamePartialView.cshtml" />
}
else
{
    <partial name="_Assignment61FirstLastNameGradePartialView" />
}
